{% extends 'adminview/sidebar.html' %}

{% block title %}
Dashboard Admin
{% endblock %}

{% block content %}
<style>
.card-body {
  box-shadow: 5px 5px 5px hsl(1,1%,45%);
}
.col {
  margin-bottom: 3%;
}
</style>
<h3>Dashboard</h3>
<hr>

<div class="container">
  <div class="row">
    <div class="col">
    
    <div class="card" >
  <div class="card-body">
    <h5 class="card-title">Jumlah Murid</h5>
    <h6 class="card-subtitle mb-2 text-muted">Menunjukan jumlah murid terdaftar dalam semester ini.</h6>
    <p class="card-text">Terdapat {{ jumlahMurid }} murid dalam sistem.</p>
    <a href="/adminview/datamurid" class="card-link">Lihat daftar murid</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

    </div>
    <div class="col">
      
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Jumlah Kelas</h5>
    <h6 class="card-subtitle mb-2 text-muted">Menunjukan jumlah kelas terdaftar dalam semester ini.</h6>
    <p class="card-text">Terdapat {{ jumlahKelas }} kelas dalam sistem.</p>
    <a href="/adminview/datakelas" class="card-link">Lihat daftar kelas</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

    </div>
  </div>

  <div class="row">
    <div class="col">
    
    <div class="card" >
  <div class="card-body">
    <h5 class="card-title">Jumlah Buku</h5>
    <h6 class="card-subtitle mb-2 text-muted">Menunjukan jumlah buku terdaftar dalam semester ini.</h6>
    <p class="card-text">Perpustakaan memiliki {{ daftarBuku }} buku.</p>
    <a href="/adminview/dataperpustakaan" class="card-link">Lihat daftar buku</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

    </div>
    <div class="col">
      
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Jumlah Buku Dipinjam</h5>
    <h6 class="card-subtitle mb-2 text-muted">Menunjukan jumlah buku yang sedang dipinjam</h6>
    <p class="card-text">Anda memiliki {{ daftarBukuDipinjam }} buku yang sedang dipinjam.</p>
    <a href="/adminview/dataperpustakaan" class="card-link">Lihat daftar buku</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

    </div>
  </div>
</div>


{% endblock %}