{% extends 'adminview/sidebar.html' %}

{% block title %}
Data Seluruh Kelas
{% endblock %}

{% block content %}
<style>
form {
  padding: 0;
  margin: 0;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  table-layout: auto;
}
th,td {
  border-top: 1px solid hsl(1,1%,90%);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
}
table input {
  border: none;
  
}
 textarea {
  width: 100%;
}

</style>
<h3>Data Kelas</h3>
<hr>

<table>
  <tr>
    <th>Nama Kelas</th>
    <th>Deskripsi Kelas</th>
    <th>Menu</th>
  </tr>
  <tr>
    {% for kelas in daftarKelas %}
        <td>{{kelas.name}}</td><td>{{ kelas.description }}</td>
        <td>
    <form action="/adminview/hapuskelas/{{ kelas.id }}" method="post">
      {% csrf_token %}
    <a href="/adminview/ubahdatakelas/{{kelas.id}}" class="btn btn-outline-success">Ubah Data</a>
    <input class="btn btn-outline-danger" type="submit" value="Hapus Kelas" />
  </form>
    

  </td>
</tr>
    {% endfor %}
  
  </tr>
  <tr>
    <form method="POST" action="#">
    {% csrf_token %}
    <td><input type="text" name="newClassName" value="Nama Kelas Baru"></td>
    <td><textarea name="newClassDescription"  ></textarea></td>
  
    <td><button type="submit" name="saveNewClass" value="saveNewClass" class="btn newClass btn-primary">Input Kelas Baru</button></td></form>
</tr>
</table>

{% endblock %}