{% extends 'adminview/sidebar.html' %}

{% block title %}
Data {{seorangMurid.name}}
{% endblock %}

{% block content %}
<style>
table {
  width: 100%;
  margin-bottom: 2%;
}
tr {
  border-bottom: 1px solid hsl(1,1%,90%);
}
th, td {
  padding: 2%;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}
.studentPhoto {
  height:400px;
}

</style>
<h3>Data {{ seorangMurid.name }}</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
<table >
  <tr>
    <th>Nama Murid</th>
    <td>{{seorangMurid.name}}</td>
  </tr>
  <tr>
    <th>Nomor Induk Murid</th>
    <td>{{seorangMurid.registrationNumber}}</td>
  </tr>
  <tr>
    <th>Tanggal Lahir</th>
    <td>{{seorangMurid.dateOfBirth}}</td>
  </tr>
  <tr>
    <th>Jenis Kelamin</th>
    <td>{{seorangMurid.gender}}</td>
  </tr>
  <tr>
    <tr>
    <th>Alamat</th>
    <td>{{seorangMurid.address}}</td>
  </tr>
  <tr>
    <th>Nama Ayah</th>
    <td>{{seorangMurid.fathersName}}</td>
  </tr>
  <tr>
    <th>Nama Ibu</th>
    <td>{{seorangMurid.mothersName}}</td>
  </tr>
  <tr>
    <th>Nama File Profile Picture</th>
    <td>{{seorangMurid.photo}}</td>
  </tr>
</table>

<a class="btn btn-success" href="../ubahdatamurid/{{seorangMurid.id}}">Ubah Data</a>
<a class="btn btn-outline-primary" href="../datamurid">Kembali ke Daftar Murid</a>

</div>

<div class="grid-item photo-item">
<img class="studentPhoto" src="../media/{{seorangMurid.photo}}"/>
</div>



{% endblock %}