{% extends 'adminview/sidebar.html' %}

{% block title %}
Data Buku Perpustakaan
{% endblock %}

{% block content %}
<style>
a {
  color: hsl(140,100%,30%);
  text-decoration: none;
}
form {
  padding: 0;
  margin: 0;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  table-layout: auto;
}
th,td {
  border-top: 1px solid hsl(1,1%,90%);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
}
table input {
  border: none;
}

 textarea, select {
  width: 100%;
    border: none;
  padding: 2%;
}
.studentPhoto {
  height:150px;
}
.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}
.form-label {
  margin-top: 2%;
}
.photo-item {
  padding: 3%;
  background: hsl(140,100%,50%);
  border-radius: 25px;
}
</style>
<h3>Data Buku Perpustakaan</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
<table>
  <tr>
    <th>Nama Buku</th>
    <th>Nomor Registrasi</th>
    <th>Dipinjam Oleh</th>
    <th>Foto</th>
    <th>Menu</th>
  </tr>
  <tr>
    {% for buku in daftarBuku %}
        <td>{{buku.name}}</td><td>{{ buku.registrationNumber }}</td><td>{{ buku.borrowedBy }}</td><td><img class="studentPhoto" src="media/{{buku.photo}}"/></td>
        <td>
    <form action="/adminview/hapusbuku/{{ buku.id }}" method="post">
      {% csrf_token %}
    <a href="/adminview/ubahdatabuku/{{buku.id}}" class="btn btn-outline-success">Ubah Data</a><br>
    <input class="btn btn-outline-danger" type="submit" value="Hapus Buku" />
  </form>
  </td>
</tr>
    {% endfor %}
  
  </tr>
</table>

</div>

<div class="grid-item photo-item">

  <form method="POST" action="#" enctype="multipart/form-data">
  {% csrf_token %}
  <h4>Input Buku Baru</h4>

  <label class="form-label">Nama Buku : </label>
  <input type="text" class="form-control" name="newBookName">

  <label class="form-label">Nomor Registrasi :</label>
  <input type="number" class="form-control" name="newBookRegistrationNumber">

  <label class="form-label">Dipinjam oleh :</label>
  <select name="newBookBorrowedBy">
    <option value="Tidak sedang dipinjam">Tidak sedang dipinjam</option>
    {% for murid in daftarMurid %}
    <option value="{{murid.name}}">{{murid.name}}</option>
    {% endfor %}
  </select><br>

  <label class="form-label">Dipinjam dari :</label>
  <input type="date" class="form-control" name="newBookBorrowedFrom">

  <label class="form-label">Dipinjam hingga :</label>
  <input type="date" class="form-control" name="newBookBorrowedTo">

  <label class="form-label">Foto Buku :</label>
  <input type="file" class="form-control" name="newBookPhoto">
  <br>
  <button class="btn btn-primary" type="submit" name="saveNewBook" value="saveNewBook">Masukkan buku baru</button>
</form>

</div>


{% endblock %}