{% extends 'adminview/sidebar.html' %}

{% block title %}
Data Seluruh Murid
{% endblock %}

{% block content %}
<style>
a {
  color: hsl(140,100%,30%);
  text-decoration: none;
}
form {
  padding: 0;
  margin: 0;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  table-layout: auto;
}
th,td {
  border-top: 1px solid hsl(1,1%,90%);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
}
table input {
  border: none;
}

 textarea {
  width: 100%;
}
.studentPhoto {
  height:150px;
}
.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}
.form-label {
  margin-top: 2%;
}
.photo-item {
  padding: 3%;
  background: hsl(140,100%,50%);
  border-radius: 25px;
}
</style>
<h3>Data Murid</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
<table>
  <tr>
    <th>Nama Murid</th>
    <th>NIM</th>
    <th>Jenis Kelamin</th>
    <th>Foto</th>
    <th>Menu</th>
  </tr>
  <tr>
    {% for murid in daftarMurid %}
        <td><a href="/adminview/datamurid/{{murid.id}}">{{murid.name}}</a></td>
        <td>{{ murid.registrationNumber }}</td>
        <td style="text-align: center;">{{ murid.gender }}</td>

        <td><img class="studentPhoto" src="media/{{murid.photo}}"/></td>

        <td>
    <form action="/adminview/hapusmurid/{{ murid.id }}" method="post">
      {% csrf_token %}
      <a class="btn btn-outline-primary" href="/adminview/datamurid/{{murid.id}}">Detail Murid</a><br>
    <a class="btn btn-outline-success" href="/adminview/ubahdatamurid/{{murid.id}}">Ubah Data</a><br>
    <input class="btn btn-outline-danger" type="submit" value="Hapus Murid" />
  </form>
    

  </td>
</tr>
    {% endfor %}
  </table>

</div>

<div class="grid-item photo-item">

  <form method="POST" action="#" enctype="multipart/form-data">
  {% csrf_token %}
  <h4>Input Murid Baru</h4>

  <label class="form-label">Nama Siswa : </label>
  <input type="text" class="form-control" name="newStudentsName">

  <label class="form-label">Nomor Induk :</label>
  <input type="number" class="form-control" name="newStudentsNIM">

  <label class="form-label">Tanggal Lahir :</label>
  <input type="date" class="form-control" name="newStudentsDOB">

  <label class="form-label">Jenis Kelamin :</label>
  <select class="form-control" name="newStudentsGender"><option value="L">Laki-laki</option><option value="P">Perempuan</option></select>

  <label class="form-label">Alamat :</label>
  <input type="text" class="form-control" name="newStudentsAddress">

  <label class="form-label">Nama Ayah :</label>
  <input type="text" class="form-control" name="newStudentsFathersName">

  <label class="form-label">Nama Ibu :</label>
  <input type="text" class="form-control" name="newStudentsMothersName">

  <label class="form-label">Profile Picture :</label>
  <input type="file" class="form-control" name="newStudentsPhoto">
  <br>
  <button class="btn btn-primary" type="submit" name="saveNewStudent" value="saveNewStudent">Masukkan murid baru</button>
</form>

</div>


{% endblock %}