
{% block content %}      
{% load static %}
{% load crispy_forms_tags %}
<style>
body {
  background-image: url('../../media/6.jpg');
  background-size: cover;
  font-family: trebuchet ms;
}
.container {
  margin: auto;
  margin-top: 10%;
  padding: 2%;
  width: 50%;
  background: white;
  opacity: 0.95;
  border-radius: 25px;
}
input {
  width: 100%;
  margin-bottom: 2%;
  padding: 2%;
}
button {
  padding: 2%;
  border: none;
  color: white;
  background: hsl(220,100%,30%);
}
</style>
<!--Login--> 
<div class="container py-5">
  <h1>School Management System</h1>
  <hr>
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p style="text-align:right;">Belum punya akun? <a href="/adminview/signup">Buat akun terlebih dahulu</a>.</p>
</div>

{% endblock %}