<html>
<head>
    <title>{% block title %}{% endblock %} | School Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
    body {
      font-family: trebuchet ms;
    }
    #sidebarMenu {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background-image: url('../../media/2.jpg');
    }
    .nav-item a {
      font-weight: bold;
      color: hsl(140,100%,25%);
    }
    .nav-item {
      background: white;
      opacity: 0.7;
      transition: all 0.2s ease-in-out;
    }
    .nav-item:hover {
      padding-top: 10%;
      padding-bottom: 10%;
      opacity: 1;

    }
    #content {
      padding-top: 1%;
      padding-left: 18%;
    }
    .card-title {
      color: hsl(140,100%,25%);
      font-weight: bold;
    }
    .username {
      padding-left: 5%;
      background: hsl(140,100%,50%);
    }
    .sidebar-heading {
      color: white;
      font-weight: bold;
    }
  </style>

</head>

<body>

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item username" >
            <span>Selamat datang,</span>
            <h4>{{ user.get_username }}</h4>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/adminview/dashboard">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/">
              <span data-feather="home"></span>
              Django Admin 
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 ">
          <span>Basis Data</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/adminview/datamurid">
              <span data-feather="file"></span>
              Data Murid
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminview/datakelas">
              <span data-feather="users"></span>
              Data Kelas
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 ">
          <span>Fasilitas</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/adminview/dataperpustakaan">
              <span data-feather="file-text"></span>
              Perpustakaan
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 ">
          <span>Akun</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
              <a class="nav-link" href="/adminview/logout">Logout</a>
          </li>
        </ul>

      </div>
    </nav>

    <div id="content" name="content" >
	{% block content %}
	{% endblock %}
    </div>

</body>
</html>