{% extends 'adminview/sidebar.html' %}

{% block title %}
Data Kelas {{sebuahKelas.name}}
{% endblock %}

{% block content %}
<style>
table {
  width: 100%;
  margin-bottom: 2%;
}
tr {
  border-bottom: 1px solid hsl(1,1%,90%);
}
th, td {
  padding: 2%;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}

td input, td textarea {
  width: 100%;
}

</style>
<h3>Data {{ sebuahKelas.name }}</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
  <form method="POST" action="/adminview/ubahkelas/{{ sebuahKelas.id }}" enctype="multipart/form-data">
  {% csrf_token %}
<table >
  <tr>
    <th>Nama Kelas</th>
    <td><input type="text" name="newClassName" value="{{sebuahKelas.name}}"/></td>
  </tr>
  <tr>
    <th>Deskripsi Kelas</th>
    <td><textarea name="newClassDescription" />{{sebuahKelas.description}}</textarea></td>
  </tr>
</table>

<button class="btn btn-success" type="submit" name="updateStudent" >Terapkan Perubahan</button>
<a class="btn btn-outline-primary" href="../datamurid">Kembali ke Daftar Murid</a>
</form>
</div>

<div class="grid-item photo-item">
</div>



{% endblock %}