{% extends 'adminview/sidebar.html' %}

{% block title %}
Data {{seorangMurid.name}}
{% endblock %}

{% block content %}
<style>
table {
  width: 100%;
  margin-bottom: 2%;
}
tr {
  border-bottom: 1px solid hsl(1,1%,90%);
}
th, td {
  padding: 2%;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}
.studentPhoto {
  height:400px;
}

td input {
  width: 100%;
}

</style>
<h3>Data {{ seorangMurid.name }}</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
  <form method="POST" action="/adminview/ubahmurid/{{ seorangMurid.id }}" enctype="multipart/form-data">
  {% csrf_token %}
<table >
  <tr>
    <th>Nama Murid</th>
    <td><input type="text" name="newStudentsName" value="{{seorangMurid.name}}"/></td>
  </tr>
  <tr>
    <th>Nomor Induk Murid</th>
    <td><input type="number" name="newStudentsNIM" value="{{seorangMurid.registrationNumber}}"/></td>
  </tr>
  <tr>
    <th>Tanggal Lahir</th>
    <td><input type="date" name="newStudentsDOB" value="{{seorangMurid.dateOfBirth}}"/></td>
  </tr>
  <tr>
    <th>Jenis Kelamin</th>
    <td><select class="form-control" name="newStudentsGender"><option value="L">Laki-laki</option><option value="P">Perempuan</option></select></td>
  </tr>
  <tr>
    <tr>
    <th>Alamat</th>
    <td><input type="text" name="newStudentsAddress" value="{{seorangMurid.address}}"/></td>
  </tr>
  <tr>
    <th>Nama Ayah</th>
    <td><input type="text" name="newStudentsFathersName" value="{{seorangMurid.fathersName}}"/></td>
  </tr>
  <tr>
    <th>Nama Ibu</th>
    <td><input type="text" name="newStudentsMothersName" value="{{seorangMurid.mothersName}}"/></td>
  </tr>
  <tr>
    <th>Profile Picture</th>
    <td><input type="file" class="form-control" name="newStudentsPhoto"></td>
  </tr>
</table>

<button class="btn btn-success" type="submit" name="updateStudent" >Terapkan Perubahan</button>
<a class="btn btn-outline-primary" href="../datamurid">Kembali ke Daftar Murid</a>
</form>
</div>

<div class="grid-item photo-item">
<img class="studentPhoto" src="../media/{{seorangMurid.photo}}"/>
</div>



{% endblock %}