{% extends 'adminview/sidebar.html' %}

{% block title %}
Data Buku {{sebuahBuku.name}}
{% endblock %}

{% block content %}
<style>
table {
  width: 100%;
  margin-bottom: 2%;
}
tr {
  border-bottom: 1px solid hsl(1,1%,90%);
}
th, td {
  padding: 2%;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 98%;
}
.grid-item {
  padding-right: 3%;
}

td input, td textarea, td select {
  width: 100%;
  border: none;
  padding: 2%;
}

</style>
<h3>Data {{ sebuahBuku.name }}</h3>


{% load static %}

<hr>

<div class="grid-container">
  <div class="grid-item">
  <form method="POST" action="/adminview/ubahbuku/{{ sebuahBuku.id }}" enctype="multipart/form-data">
  {% csrf_token %}
<table >
  <tr>
    <th>Nama Buku</th>
    <td><input type="text" class="form-control" name="newBookName" value="{{ sebuahBuku.name }}"></td>
  </tr>
  <tr>
    <th>Nomor Registrasi</th>
    <td><input type="number" class="form-control" name="newBookRegistrationNumber" value="{{ sebuahBuku.registrationNumber }}"></td>
  </tr>
  <tr>
    <th>Dipinjam Oleh</th>
    <td>

    <select name="newBookBorrowedBy" value="{{ sebuahBuku.borrowedBy }}">
    <option value="Tidak sedang dipinjam">Tidak sedang dipinjam</option>
    {% for murid in daftarMurid %}
    <option value="{{murid.name}}">{{murid.name}}</option>
    {% endfor %}
  </select><br>

</td>
  </tr>
  <tr>
    <th>Dipinjam Dari</th>
    <td><input type="date" class="form-control" name="newBookBorrowedFrom" value="{{ sebuahBuku.borrowedFrom }}"></td>
  </tr>
  <tr>
    <th>Dipinjam Hingga</th>
    <td><input type="date" class="form-control" name="newBookBorrowedTo" value="{{ sebuahBuku.borrowedTo }}"></td>
  </tr>
  <tr>
    <th>Foto Buku</th>
    <td><input type="file" class="form-control" name="newBookPhoto" value="{{ sebuahBuku.photo }}"></td>
  </tr>
</table>

<button class="btn btn-success" type="submit" name="updateStudent" >Terapkan Perubahan</button>
<a class="btn btn-outline-primary" href="/adminview/dataperpustakaan">Kembali ke Daftar Buku</a>
</form>
</div>

<div class="grid-item photo-item">
  <img class="studentPhoto" src="../media/{{sebuahBuku.photo}}"/>
</div>



{% endblock %}