
{% block content %}      
{% load static %}
{% load crispy_forms_tags %}
<style>
body {
  background-image: url('../../media/6.jpg');
  background-size: cover;
  font-family: trebuchet ms;
}
.container {
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  width: 50%;
  background: white;
  opacity: 0.95;
  border-radius: 25px;
}
input {
  width: 100%;
  margin-bottom: 2%;
  padding: 2%;
}
button {
  padding: 2%;
  border: none;
  color: white;
  background: hsl(220,100%,30%);
}
</style>
<!--Login--> 
<div class="container py-5">
  <h1>School Management System</h1>
  <hr>
  <h2>Daftar Akun</h2>
   <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  <p style="text-align:right;">Sudah punya akun? <a href="/adminview/login">Silahkan login</a>.</p>
</div>

{% endblock %}